*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(146, 83, 0);
  background-image: url('foto/images.jpg'); 
}

a{
  text-decoration: none;
}

.title{
  width: 550px;
  height: 70px;
  border: 2px solid black;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white; 
  background-color: rgb(155, 98, 23);
  font-size: 50px;
  text-align: center;
  padding: 10px;
  justify-content: center;
  display: flex;
   margin: 50px auto;
   margin-left: 31%;
}

.start{
  width: 450px;
  height: 200px;
  border: 2px solid black;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white; 
  background-color: rgb(155, 98, 23);
  font-size: 70px;
  text-align: center;
  padding: 50px 10px;
  justify-content: center;
  display: flex;
  margin: 55px auto;
   background-image: url('foto/1ed1b227980f3792de3ca55b88f328f6.jpg'); 
}

form{
    width: 600px;
  height: 60px;
  border: 2px solid black;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white; 
  background-color: rgb(155, 98, 23);
  text-align: center;
  padding: 10px 10px;
  justify-content: center;
  display: flex;
   margin: 140px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  width: 600px;
  height: 600px;
  margin: 20px auto;
  background-color: rgb(210, 157, 88);
}
.board div {
  border: 1px solid black;
}

footer{
  width: 100%;
  height: 30px;
  border: 1px solid black;
  background-color: rgb(146, 83, 0);
    background-image: url('foto/images.jpg'); 
    margin-top: 40px;
}

.board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 2px solid #333;
  margin: 20px auto;
}

.board div {
  border: 1px solid #ccc;
  position: relative;
}

.stone {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
}

.black {
  background: black;
}

.white {
  background: white;
  border: 1px solid #000;
}

.zwart{
  margin-left: 500px;
}

.wit{
  margin-left: 970px;
  color: white;
}

.stoneblack {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  border: 1px solid #000;
  background-color: #000;
}

.stonewhite {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  border: 1px solid #000;
  background-color: white;
}

.row{
  display: flex;
}

.spelregel{
    width: 100px;
  height: 70px;
  border: 2px solid black;
  font-family: "Georgia", serif;
  font-weight: bold;
  color: white; 
  background-color: rgb(155, 98, 23);
  text-align: center;
  padding: 10px;
  justify-content: center;
color: white;
}

.regelpage{
  width: 500px;
  height: 750px;
  padding: 20px 20px;
  border: 2px solid black;
  background-color:rgb(234, 199, 153) ;
  justify-content: center;
  display: flex;
  margin: 50px auto;
}
